DB_SERVER=localhost
DB_PORT=63990
DB_DATABASE=SmartDashboard
DB_USER=dashboarduser
DB_PASSWORD=Dashboard@2026
JWT_SECRET=2cccc45638eeea2e20f226f5b7cd3f6005d8ce01f00ef20f05bca9693ba8eab5
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP encryption="STARTTLS"
SMTP_SECURE=false
SMTP_USER="megamex619@gmail.com"
SMTP_PASS="cffh alwj aagg vlvk"
SMTP_FROM="Smart Dashboard" <noreply@smartdashboard.local>
